<script>
function menuButtonClick() {
  document.getElementById("menuContent").classList.toggle("menu-show");
}
function tocButtonClick() {
  document.getElementById("tocContent").classList.toggle("toc-show");
}
function myButtonClick() {
  document.getElementById("myButtonContent").classList.toggle("mybutton-show");
}
// Collapse the TOC if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.toc-button')) {
    var dropdowns = document.getElementsByClassName("drop-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('toc-show')) {
        openDropdown.classList.remove('toc-show');
      }
    }
  }
}
</script>
