<div class="toc">
<div class="dropdown">
<button onclick="tocButtonClick()" class="toc-button">Table of Contents</button>
<div id="tocContent" class="drop-content">
<a href="#editing-and-publishing">Editing and Publishing</a>
<a href="#step-1-create-the-repository">Step 1: Create the Repository</a>
<a href="#step-2-edit-configyml">Step 2: Edit _config.yml</a>
<a href="#step-7-pull-changes-into-publish">Step 7: Pull Changes into Publish</a>
<a href="#step-8-configure-github-pages">Step 8: Configure GitHub Pages</a>
<a href="#technical-reference">Technical Reference</a>
<a href="#google-analytics">Google Analytics</a>
<a href="#develop-on-windows">Develop on Windows</a>
<a href="#editing-on-windows">Editing on Windows</a>
<a href="#develop-on-ras-pi">Develop on Ras Pi</a>
</div>
</div>
<h3>{{ page.title }}</h3>
</div>
