<div class="toc">
<div class="dropdown">
<button onclick="tocButtonClick()" class="toc-button">Table of Contents</button>
<div id="tocContent" class="drop-content">
<a href="#site-menu-made-easy">Site Menu Made Easy</a>
<a href="#toc-made-easy">TOC Made Easy</a>
<a href="#media-screen-styles">Media Styles</a>
<a href="#color-scheme-and-table-style">Color Scheme and Table Style</a>
<a href="#image-styles">Image Styles</a>
<a href="#other-elements">Other Elements</a>
<a href="#grid-styles">Grid Styles</a>
<a href="#66-33-grid">66-33 Grid</a>
<a href="#pipe-testing">Pipe Testing</a>
</div>
</div>
<h3>{{ page.title }}</h3>
</div>
